<!DOCTYPE html>
<html>
<header>
    <title>Fake Kimie Detail</title>
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/narmalize/3.0.3/normalize.min.css">
    <script src="https://use.fontawesome.com/f3626566ff.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
</header>
<body>
	<h2>MovieID is now <%= rows[0].movie_id %> </h2>
	<h2>Movie Title is now <%= rows[0].original_title %> </h2>
   <header id ="top_header" class="clearfix">
        <div class="wrapper">
            <img src="../../logoblack.png" alt="" class="logo" width="246" height="40">
            <nav id="main_nav">
                <a href="#">Home</a>
                <a href="#">Category</a>
                <a href="#">Sign in/out</a>
            </nav>
        </div>
    </header>
    
	<section id="banner" class="clearfix">
        <div id="banner_content_wrapper">
            <div id="trailer">
                    <iframe width="672" height="378" src="<%= rows[0].trailer_url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			
            </div>
            <div id="content">
                <h2 class="title"><%= rows[0].original_title %></h2>
                <div class="ratings">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star inactive"></i>
                </div>
                <!--how to set up rating https://stackoverflow.com/questions/3253436/how-can-i-change-the-color-of-the-stars-on-mouse-hover-in-this-js-->
                <p class="description"><%= rows[0].overview %></p>
                <p class="director">Director: <%= rows[0].director %></p>
                <p class="writer">language: <%= rows[0].spoken_languages%></p>
                <p class="starts">Stars:  <%= rows[0].casting %> </p>
                <p class="info"><%= rows[0].runtime %> mins <span>|</span> <%= rows[0].genres %></p>
            </div>
        </div>
    </section>
    <section id="top_movies" class="clearfix">
        <div class="wrapper">
            <header class="clearfix">
                <h2>More Like This..</h2>
                <a href="#" class="view_more">View All Movies</a>
            </header>
        </div>

	
        <div class="row">
	<% for(var i = 0; i < 6; i++){ %>
            <div class="post">
				<a href="/realdetail/<%= rows[i].recommended_movie_id %>"><img src="../../deadpool.jpg" alt="Deadpool Posters"></a>
                <h3 class="title">Recommend:<%= rows[i].recommended_movie_id %></h3>
                <p class="post_info">Genre temp| 109 Minutes</p>
            </div>
    <% } %>
          
        </div>
    </section>
 <!-- comments container -->
        <div class="comment_block">
<!-- Create Comment section -->
    <!-- used by #{user} to create a new comment -->
             <div class="create_new_comment">
    
                <!-- current #{user} avatar -->
                 <div class="user_avatar">
                     <img src="https://s3.amazonaws.com/uifaces/faces/twitter/BillSKenney/73.jpg">
                 </div><!-- the input field --><div class="input_comment">
<!-- Kimienoteeeeee: create comment 的form在此！！ -->
				 <form action = "/inputcomment/<%=rows[0].movie_id %>" method = "POST">
                     <input id = "newcomment" name = "newcomment" type="text" placeholder="Join the conversation..">
					<input type="hidden" id="rows" name = "rows" value = "<%= rows %>">
					 <input type="hidden" id="commentNow" name = "commentNow" value = "<%= commentNow %>" >
					 <input type = 'submit' class="button" VALUE = "SUBMIT">
				 </form>
<!-- Kimienoteeeeee:  create comment 的form在此！！ -->
                 </div>

                    
    
             </div>
<!-- end: create a new comment -->


   <!--   Comment Begin -->
   
        <!-- new comment -->
             <div class="new_comment">
     <% for(var i = 0; i < commentNow.length; i++){ %>
                <!-- build comment -->
                 <ul class="user_comment">
    
                     <!-- current #{user} avatar -->
                     <div class="user_avatar">
                         <img src="https://s3.amazonaws.com/uifaces/faces/twitter/kfriedson/73.jpg">
                     </div><!-- the comment body --><div class="comment_body">
                         <p><%= commentNow[i]%> </p>
                     </div>
    
                     <!-- comments toolbar -->
                     <div class="comment_toolbar">
    
                         <!-- inc. date and time -->
                         <div class="comment_details">
                             <ul>
                                 <li><i class="fa fa-clock-o"></i> 13:94</li>
                                 <li><i class="fa fa-calendar"></i> 04/01/2015</li>
                                 <li><i class="fa fa-pencil"></i> <span class="user">Sarah Walkman</span></li>
                             </ul>
                         </div><!-- inc. share/reply and love --><div class="comment_tools">
                             
                             <ul>
                                 <li><i class="fa fa-share-alt"></i></li>
                                 <li><i class="fa fa-reply"></i></li>
                                 <li><i class="fa fa-heart love"></i><span class="love_amt"> 4039</span></i></li></li>
                             </ul>
                         </div>
    
                     </div>
    
                 </ul>
    		   <% } %>
            </div>
        </div>
 
	
	
    <section id="newsletter">
        <div class="newsletter_inner">
            <h2>Get movieradar latest updates each week.</h2>
            <div class="sign_up_form">
                <input type="text" placeholder="First Name">
                <input type="text" placeholder="Email">
                <button class="button">Subscribe</button>
            </div>
        </div>

    </section>
	
    <footer id="main_footer">
        <p class="logo">movieradar</p>
        <p class="copyright">&copy;2019 movieradar. All Right Reserved.</p>
        <div class="links">
            <a href="#">Terms of Services</a>
            <a href="#">Privacy Policy</a>
        </div>

    </footer>
</body> 
</html>