<!DOCTYPE html>
<html>
<header>
    <title>Real Movie Detail -- Kimie</title>
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/narmalize/3.0.3/normalize.min.css">
    <script src="https://use.fontawesome.com/f3626566ff.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
    <script>
        $(document).ready(function(){
            stars = ['off','off','off','off','off','off'];  
            clearRating();

            $('#star1').click(function(){ rateTheStar(1);});
            $('#star2').click(function(){ rateTheStar(2);});
            $('#star3').click(function(){ rateTheStar(3);});
            $('#star4').click(function(){ rateTheStar(4);});
            $('#star5').click(function(){ rateTheStar(5);});
        });
        
        function clearRating()  {
            count = 1;
            for(count = 1; count <= 5; count++) {
                strTarget = '#star'+count+' i';
                $(strTarget).css("color","black");
            }
        }
        
        function rateTheStar(targetno)  {
            console.log("yes we are here");
            if(stars[targetno] == 'off')    {

                target = '';
                //i = 0;
                //j = 0;

                for(j = 1; j <= targetno; j++)  {
                    target = '#star'+j+' i';
                    stars[j] = 'on';
                    $(target).css("color","orange");
                }
                document.getElementById('ratingval').value = targetno;
                for(i = targetno+1; i <= 5; i++)    {
                    stars[i] = 'off';
                    str = '#star'+i+' i';
                    $(str).css("color","black");
                    //$(str).animate({'opacity':0},'slow');
                }
                alert("Your rating for this movie is " + targetno);
                document.getElementById("rating_form").submit();
                //alert(stars[1]+" "+stars[2]+" "+stars[3]+" "+stars[4]+" "+stars[5]);
            }
            else if(stars[targetno] == 'on')    {
                document.getElementById('ratingval').value = targetno;
                i = 0;
                for(j = 1; j <= targetno; j++)  {
                    target = '#star'+j+' i';
                    stars[j] = 'on';
                    //$(str).animate({'opacity':1},'slow');
                    $(target).css("color","orange");
                }
                newTargetNo = targetno + 1;
                for(i = targetno + 1; i <= 5; i++)   {
                    str = '#star'+i+' i';
                    stars[i] = 'off';
                    $(str).css("color","black");
                    //$(str).animate({'opacity':0},'slow');
                }

                alert("Your rating for this movie is now" + targetno);
                document.getElementById("rating_form").submit();
            }

        }
    
    </script>
</header>

<body>

    

   <header id ="top_header" class="clearfix">
        <div class="wrapper">
            <img src="../../logoblack.png" alt="" class="logo" width="246" height="40">
            <nav id="main_nav">
                <a href="/homepage">Home</a>
                <a href="#">Category</a>
            <% if(typeof sess.login == 'undefined'){ %>
                <a href="/signin">Sign in/out</a>
            <% } else { %>
                <a href="/logout">Sign in/out</a>
            <% } %>
            </nav>
        </div>
    </header>
    
	<section id="banner" class="clearfix">
        <div id="banner_content_wrapper">
            <div id="trailer">
                <% if(youtube != ''){ %>
                    <iframe width="672" height="378" src="<%= youtube %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <% } else { %>
                    
                    <img src="<%= rows[0].poster_path %>" alt="Movie Poster" width="450" height="600">
                    
                <% } %>
			
            </div>
            <div id="content">
                <h2 class="title"><%= rows[0].original_title %></h2>
                <h2>
				 ------------------------------------------
				</h2>
				<div class="ratings">
                    <form name = "rating_form" id = "rating_form" action = '/inputrating' method = 'POST'>
                        
                        <span id = "star1"><i class="fa fa-star"></i></span>    
                        <span id = "star2"><i class="fa fa-star"></i></span>
                        <span id = "star3"><i class="fa fa-star"></i></span>
                        <span id = "star4"><i class="fa fa-star"></i></span>
                        <span id = "star5"><i class="fa fa-star"></i></span>
                        IMDB Rate: <%=rows[0].vote_average / 2 %>
                
                    <input type="hidden" name="ratingval" id="ratingval" value="0" />
                    <input type="hidden" name="movieId" id="movieId" value="<%=rows[0].movie_id %>" />
                    </form>
                </div>

				<h2>
				 ------------------------------------------
				</h2>
                <!--how to set up rating https://stackoverflow.com/questions/3253436/how-can-i-change-the-color-of-the-stars-on-mouse-hover-in-this-js-->
                <p class="description"><%= rows[0].overview %></p>
                <p class="director">Director: <%= rows[0].director %></p>
                <p class="writer">language: <%= rows[0].spoken_languages%></p>
                <p class="starts">Stars:  <%= rows[0].casting %> </p>
                <p class="info"><%= rows[0].runtime %> mins <span>|</span> <%= rows[0].genres %></p>
            </div>
        </div>
    </section>
    <section id="top_movies" class="clearfix">
        <div class="wrapper">
            <header class="clearfix">
                <h2>More Like This..</h2>
                <a href="#" class="view_more">View All Movies</a>
            </header>
        </div>

	
        <div class="row">
	<% for(var i = 0; i < recommmendmovies.length; i++){ %>
            <div class="post">
				<a href="/realdetail/<%= recommmendmovies[i].recommended_movie_id %>"><img src="<%= recommmendmovies[i].poster_path %>" alt="Movie Poster"></a>
                <h3 class="title"><%= recommmendmovies[i].title %></h3>
                <p class="post_info"><%= recommmendmovies[i].genres %>| <%= recommmendmovies[i].runtime %> Minutes</p>
            </div>
    <% } %>
          
        </div>
    </section>
 <!-- comments container -->
        <div class="comment_block">
<!-- Create Comment section -->
    <!-- used by #{user} to create a new comment -->
             <div class="create_new_comment">
    
                <!-- current #{user} avatar -->
                 <div class="user_avatar">
                     <img src="https://s3.amazonaws.com/uifaces/faces/twitter/BillSKenney/73.jpg">
                 </div><!-- the input field --><div class="input_comment">
<!-- Kimienoteeeeee: create comment 的form在此！！ -->
				 <form action = "/inputcomment/<%=movieId %>" method = "POST">
                     <input id = "newcomment" name = "newcomment" type="text" placeholder="Join the conversation..">
					<input type="hidden" id="rows" value= "<%= rows %>" name="rows">
					 <input type="hidden" id="rows" value= "<%= recommmendmovies %>" name="recommmendmovies">
					 <input type="hidden" id="commentNow" name = "commentNow" value = "<%= commentNow %>" >
					 <input type = 'submit' class="button" VALUE = "SUBMIT">
				 </form>
<!-- Kimienoteeeeee:  create comment 的form在此！！ -->
                 </div>

                    
    
             </div>
<!-- end: create a new comment -->


   <!--   Comment Begin -->
   
        <!-- new comment -->
             <div class="new_comment">
     <% for(var i = 0; i < commentNow.length; i++){ %>
                <!-- build comment -->
                 <ul class="user_comment">
    
                     <!-- current #{user} avatar -->
                     <div class="user_avatar">
                         <img src="https://s3.amazonaws.com/uifaces/faces/twitter/BillSKenney/73.jpg">
                     </div><!-- the comment body --><div class="comment_body">
                         <p><%= commentNow[i].comment%> </p>
                     </div>
    
                     <!-- comments toolbar -->
                     <div class="comment_toolbar">
    
                         <!-- inc. date and time -->
                         <div class="comment_details">
                             <ul>
                                 <li><i class="fa fa-calendar"></i> <%= commentNow[i].created_at.toDateString()%></li>
                                 <li><i class="fa fa-clock-o"></i> <%= commentNow[i].created_at.toTimeString()%></li>
                                 <% if(typeof commentNow[i].user_id != 'undefined'){ %>
                                 <li><i class="fa fa-pencil"></i> <span class="user"> User ID: <%= commentNow[i].user_id%></span></li>
                                 <% } else { %>
                                 <li><i class="fa fa-pencil"></i> <span class="user"> User ID: Guest</span></li>
                                  <% } %>
                             </ul>
                         </div><!-- inc. share/reply and love --><div class="comment_tools">
                             <!--
                             <ul>
                                 <li><i class="fa fa-share-alt"></i></li>
                                 <li><i class="fa fa-reply"></i></li>
                                 <li><i class="fa fa-heart love"></i><span class="love_amt"> 4039</span></li>
                             </ul>
                            -->
                         </div>
    
                     </div>
    
                 </ul>
    		   <% } %>
            </div>
        </div>
 
	
	
    <section id="newsletter">
        <div class="newsletter_inner">
            <h2>Get movieradar latest updates each week.</h2>
            <div class="sign_up_form">
                <input type="text" placeholder="First Name">
                <input type="text" placeholder="Email">
                <button class="button">Subscribe</button>
            </div>
        </div>

    </section>
	


    <footer id="main_footer">
        <p class="logo">movieradar</p>
        <p class="copyright">&copy;2019 movieradar. All Right Reserved.</p>
        <div class="links">
            <a href="#">Terms of Services</a>
            <a href="#">Privacy Policy</a>
        </div>

    </footer>
</body> 
</html>